$color-principal: #FFF89A;
$color-secundario: #FFC900;
$color-terciario: #106697;
$color-cuarto: #06606d;

$letra-titulos: 'Ms Madi', cursive;
$letra-textos: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 


